*{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 30px;
}
body{
    background-image: url(../../../images/стужа.png);

}
form{
    margin: 10px;
    text-align: center;
}

#radius{
    width: 50%;
    margin: 5px;
    border-radius: 15%;
    
    
}

.info{
    background-color: rgb(73, 126, 168);
    color: white;
    margin: 50px 10px 100px 10px;
    padding: 0;

}

#submit{
    border-radius: 10%;
    background-color: black;
    color:white;
}


#image{
    border-radius: 50%;
    width: 25%;
    height: 25%;
}