*{
    margin: 0;
    padding: 0;
    color: white;
    
    font-size: 30px;
}
body{
    background-image: url(../../images/1920x1080-4589904-playstation-minimalism-blue-background-video-games.png);

}
form{
    margin: 10px;
    text-align: center;
}

#radius{
    width: 100%;
background-color: purple;
color: white;
    
}
.infi{
    
    background-color: white;
    color: black;
    width: 100%;
    
}
.white{
    margin-top: 5px;
    background-color: white;
    color: black;
    width: 100%;
}
.green{
    background-color: green;
    color: white;
    width: 100%;
}
.blue{
    background-color: blue;
    color: white;
    width: 100%;
}
.info{
    color: black;
    background-color: aqua;

    padding: 0;
    width: 100%;

}
.info b{
    color: black;
}

#submit{
    border-radius: 10%;
    background-color: black;
    color:white;
}


#image{
    border-radius: 50%;
    width: 25%;
    height: 25%;
}