*{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 30px;
}
body{
    background-image: url(../../images/посчитайка.png);

}
form{
    margin: 10px;
    text-align: center;
}

#radius{
    width: 25%;
    margin: 5px;
    border-radius: 15%;

color: black;
    
}

.info{

    color: white;
    margin: 50px 10px 100px 10px;
    padding: 0;
    text-shadow: white 0 0 5px;

}
h1{
    margin: 20px;
    text-shadow: rgb(117, 85, 85) 0 0 10px;
}
.info b{
    color: black;
}

#submit{
    border-radius: 10%;
    background-color: white;
    color:black;
  
}


#image{
    border-radius: 25%;
    width: 25%;
    height: 25%;
}