*{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 30px;
    background-image: url(../../images/пузырьки\ фон.png);
}
form{
    text-align: center;
}

#radius{
    width: 50%;
    margin: 5px;
    border-radius: 15%;
    
}

.info{
    margin: 10px 10px 100px 10px;

}

#submit{
    border-radius: 10%;
    background-color: black;
    color:white;
}