*{
    margin: 0;
    padding: 0;
    color: white;
    
    font-size: 30px;
}
body{
    background-image: url(../../images/листопад.png);

}
form{
    margin: 10px;
    text-align: center;
}

#radius{
    width: 50%;
    margin: 5px;
background-color: orange;
border-radius: 20%;
color: white;
    
}

.info{
    background-color: orange;
    color: black;
    margin: 50px 10px 100px 10px;
    padding: 0;

}
.info b{
    color: black;
}

#submit{
    border-radius: 10%;
    background-color: black;
    color:white;
}


#image{
    border-radius: 50%;
    width: 25%;
    height: 25%;
}